@font-face {
    font-family: 'posterman';
    src: url('./posterman.otf') format('otf'),
      url('./posterman.otf') format('otf');
    font-weight: 600;
    font-style: normal;
  }
  
  
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

body {
    background-color: #008d99;
    color: #fff;
    font-family: 'posterman', sans-serif;
}
#content {
    text-align: center;
}

h1 {
    margin-top: 0;;
    text-transform: uppercase;
}

.grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-row-gap: 16px;
    grid-column-gap: 40px;   
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.content-box {
    background-color: #f1f1f1;
    padding: 30px;
    margin: 60px;
    color: #555;
}

.home-container {
    margin: 60px;
}

.menu-item {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}